In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv("/Users/kanayojustice/Documents/Data_scientist_projects/End-to-End-income-prediction-ML-project/research/data/cleaned_data.csv")

In [5]:
train_df, test_df = train_test_split(df, test_size=0.2)

In [6]:
test_df

,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,income,occupation_?,occupation_Adm-clerical,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
38380,33,243678,10,0,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
38306,35,38294,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20850,36,274809,9,0,0,0,50,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5446,51,144284,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7404,53,164299,13,1,0,1887,65,1,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27547,43,456236,9,1,0,0,40,1,0,0,...,0,0,0,0,0,0,0,1,0,0
47006,26,160300,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6475,28,282398,10,1,0,0,35,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16161,41,242804,9,1,0,0,40,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48726,61,190682,9,0,0,1669,50,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
train_df

,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,income,occupation_?,occupation_Adm-clerical,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
25242,59,124771,13,1,0,0,30,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3486,29,168221,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12259,29,309778,13,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23212,35,57640,9,1,0,0,35,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23413,20,362999,10,0,0,0,20,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30246,52,138497,13,1,0,0,45,1,0,0,...,0,0,0,0,0,0,0,1,0,0
37588,38,203628,13,1,0,0,45,1,0,0,...,0,0,0,0,0,0,0,1,0,0
48720,23,190273,13,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4244,76,25319,9,0,0,0,8,0,0,1,...,0,0,0,0,0,0,0,1,0,0
30014,48,493862,9,1,7298,0,38,1,0,0,...,0,0,0,0,0,0,0,1,0,0